<%- include('inc/head.ejs') %>

<main class="center">
    <h1>Страница не найдена</h1>
    <p>К сожалению, мы не можем найти запрашиваемую вами страницую</p>
    <a href="/" class="btn">Вернуться на главную</a>
</main>

<%- include('inc/end.ejs') %>